<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="loading" *ngIf="loading">
  <img src="/assets/img/loader.svg" class="loading-img"/>
</div>
<ion-content>
  <div class="auth-content">
    <div class="light-bg">
      <!-- Logo -->
      <div padding text-center>
        <div class="logo">
          <img src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_pad,h_200,q_auto:best,w_200/v1539865458/logo_black-style-2_z1aw7f_szaoom.png"/>
        </div>
        <p ion-text color="dark" >If you’re driving anyway, why not make some easy extra cash?</p>
      </div>

      <!-- Login form -->
      <form [formGroup]="userBasicInfo" padding>
      <ion-list class="list-form" padding>

        <ion-item>
          <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item
          *ngIf="!userBasicInfo.controls.email.valid  && (userBasicInfo.controls.email.dirty || submitAttempt)">
          <p>Please enter a valid email address.</p>
        </ion-item>
        <ion-item>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item
          *ngIf="!userBasicInfo.controls.password.valid  && (userBasicInfo.controls.password.dirty || submitAttempt)">
          <p>Please enter a valid password of at least 5 characters.</p>
        </ion-item>

      </ion-list>
      </form>
      <div padding>
        <button  ion-button color="secondary"  block (click)="login()">
          Login
        </button>
      </div>

    </div>

    <div padding=""></div>

    <!-- Other links -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <span ion-text color="light" >Forgot password?</span>
        </ion-col>
        <ion-col>
          <span ion-text color="light" >
            New here?
            <span ion-text color="secondary"  (click)="signup()">Sign up</span>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
