<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class=" auth-bg">
  <div class="auth-content">
    <div class="light-bg" *ngIf="!(vehicleCategories | async)?.length || !(countries | async)?.length || !(vehicleBrands | async)?.length ">
      <div padding text-center>
        <div class="logo">
          <img
            src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_pad,h_200,q_auto:best,w_200/v1539865458/logo_black-style-2_z1aw7f_szaoom.png"/>
        </div>
        <h2 ion-text color="dark">
          BEON DRIVER APP
        </h2>
        <p ion-text color="dark">If you’re driving anyway, why not make some easy extra cash?</p>
      </div>
      <div style="padding: 100px 40px;">
        <div class="custom-spinner-container">
          <div class="custom-spinner-box"></div>
        </div>
      </div>
    </div>

    <div class="light-bg" *ngIf="(vehicleCategories | async)?.length && (countries | async)?.length && (vehicleBrands | async)?.length ">

      <section *ngIf="signupPage===1" >
        <!-- Logo -->
        <div padding text-center>
          <div class="logo">
            <img
              src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_pad,h_200,q_auto:best,w_200/v1539865458/logo_black-style-2_z1aw7f_szaoom.png"/>
          </div>
          <h2 ion-text color="dark">
            BEON DRIVER APP
          </h2>
          <p ion-text color="dark">If you’re driving anyway, why not make some easy extra cash?</p>
        </div>
        <form [formGroup]="userBasicInfo" padding>
          <!-- Login form -->
          <ion-list class="list-form">
            <ion-item>
              <ion-input class="item-input" formControlName="name" type="text" placeholder="Your name"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userBasicInfo.controls.name.valid  && (userBasicInfo.controls.name.dirty || submitAttempt)">
              <p>Please enter a valid name.</p>
            </ion-item>
            <ion-item>
              <ion-input formControlName="phone" type="text" placeholder="Phone number"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userBasicInfo.controls.phone.valid  && (userBasicInfo.controls.phone.dirty || submitAttempt)">
              <p>Please enter a valid phone number.</p>
            </ion-item>
            <ion-item>
              <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userBasicInfo.controls.email.valid  && (userBasicInfo.controls.email.dirty || submitAttempt)">
              <p>Please enter a valid email address.</p>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userBasicInfo.controls.password.valid  && (userBasicInfo.controls.password.dirty || submitAttempt)">
              <p>Please enter a valid password of at least 5 characters.</p>
            </ion-item>

          </ion-list>
        </form>
        <div padding>
          <button ion-button color="secondary" block (click)="next(2)">
            Next
          </button>
        </div>
      </section>
      <section *ngIf="signupPage===2">
        <div padding text-center>
          <div class="logo">
            <img
              src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_pad,h_200,q_auto:best,w_200/v1539865458/logo_black-style-2_z1aw7f_szaoom.png"/>
          </div>
          <h2 ion-text color="dark">
            Sign Up - Vehicle
          </h2>
          <p ion-text color="dark">Your vehicle information</p>
        </div>

        <form [formGroup]="userVehicleInfo" padding>
          <ion-list class="list-form">
            <!-- Login form -->
            <ion-item>
              <ion-label>Vehicle Type</ion-label>
              <ion-select class="item-input"  formControlName="type" type="text" >
                <ion-option *ngFor="let key of (vehicleCategories| async)" value="{{key.id}}">{{key.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item
              *ngIf="!userVehicleInfo.controls.type.valid  && (userVehicleInfo.controls.type.dirty || submitAttempt)">
              <p>Please select vehicle type.</p>
            </ion-item>
            <ion-item *ngIf="userVehicleInfo.controls.type.valid" >
              <ion-label>Brand</ion-label>
              <ion-select class="item-input" formControlName="brand" type="text">
                <ion-option *ngFor="let key of (vehicleBrands| async)" value="{{key.id}}">{{key.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item
              *ngIf="!userVehicleInfo.controls.brand.valid  && (userVehicleInfo.controls.brand.dirty || submitAttempt)">
              <p>Please select vehicle brand.</p>
            </ion-item>
            <ion-item *ngIf="userVehicleInfo.controls.brand.valid" >
              <ion-label>Model</ion-label>
              <ion-input formControlName="model" type="text" >
              </ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userVehicleInfo.controls.model.valid  && (userVehicleInfo.controls.model.dirty || submitAttempt)">
              <p>Please select vehicle model.</p>
            </ion-item>
            <ion-item>
              <ion-label>Plate Number</ion-label>
              <ion-input formControlName="numberPlate" type="text" ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userVehicleInfo.controls.numberPlate.valid  && (userVehicleInfo.controls.numberPlate.dirty || submitAttempt)">
              <p>Please enter a valid plate number of at least 5 characters.</p>
            </ion-item>

          </ion-list>
        </form>
        <div padding>
          <button ion-button color="secondary" block (click)="next(3)">
            Next
          </button>
        </div>
      </section>
      <section *ngIf="signupPage===3">
        <div padding text-center>
          <div class="logo">
            <img
              src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_pad,h_200,q_auto:best,w_200/v1539865458/logo_black-style-2_z1aw7f_szaoom.png"/>
          </div>
          <h2 ion-text color="dark">
            Sign Up - Address
          </h2>
          <p ion-text color="dark">Your address information</p>
        </div>

        <form [formGroup]="userAddressInfo" padding>
          <ion-list class="list-form">
            <!-- Login form -->
            <ion-item>
              <ion-label>Address</ion-label>
              <ion-input formControlName="address" type="address"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userAddressInfo.controls.address.valid  && (userAddressInfo.controls.address.dirty || submitAttempt)">
              <p>Please enter address.</p>
            </ion-item>
            <ion-item >
              <ion-label>Country</ion-label>
              <ion-select class="item-input" formControlName="country" type="text">
                <ion-option *ngFor="let key of (countries| async)" value="{{key.id}}">{{key.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item
              *ngIf="!userAddressInfo.controls.country.valid  && (userAddressInfo.controls.country.dirty || submitAttempt)">
              <p>Please select your country.</p>
            </ion-item>
            <ion-item>
              <ion-label>State</ion-label>
              <ion-input formControlName="state" type="text" >
              </ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userAddressInfo.controls.state.valid  && (userAddressInfo.controls.state.dirty || submitAttempt)">
              <p>Please select vehicle model.</p>
            </ion-item>
            <ion-item>
              <ion-label>Zip Code</ion-label>
              <ion-input formControlName="zipCode" type="text" ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!userAddressInfo.controls.zipCode.valid  && (userAddressInfo.controls.zipCode.dirty || submitAttempt)">
              <p>Please enter a valid zip-code.</p>
            </ion-item>

          </ion-list>
        </form>
        <div padding>
          <button ion-button color="secondary" block (click)="signup()">
            Sign Up
          </button>
        </div>
      </section>
    </div>
    <div padding=""></div>

    <!-- Other links -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <span ion-text color="light">Forgot password?</span>
        </ion-col>
        <ion-col>
          <span ion-text color="light">
            Have account?
            <span ion-text color="secondary" (click)="login()">Login</span>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
