<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class=" primary-bg">
  <div padding text-center>
    <ion-grid class="light-bg">

      <ion-row>
        <ion-col>
          <button *ngIf="!isTracking" ion-button full color="secondary" (click)="start()">Start Tracking</button>
          <button *ngIf="isTracking" ion-button full color="danger" (click)="stop()">Stop Tracking</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <div #map id="map"></div>
      </ion-row>
      <div padding=""></div>
      <ion-row>
        <ion-col>
          <span ion-text color="gray">Model</span>
          <h4 ion-text color="dark">{{ driver.car_model }}</h4>
        </ion-col>
        <ion-col>
          <span ion-text color="gray">Plate</span>
          <h4 ion-text color="dark">{{ driver.plate }}</h4>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <span ion-text color="gray">Current Latitude</span>
          <p ion-text color="dark">{{locationTrackingService.lat}}</p>
        </ion-col>
        <ion-col>
          <span ion-text color="gray">Current Longitude</span>
          <p ion-text color="dark">{{locationTrackingService.lng}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button block padding color="gray">
      {{ driver.balance }} HKD
    </button>

  </div>
</ion-content>
