<div class="loading" *ngIf="loading">
  <img src="/assets/img/loader.svg" class="loading-img" />
  <img class="loading-img-center" src="/assets/img/beon-logo-white.png" />
</div>
<ion-header>
  <ion-navbar text-center color="primary">
    <ion-title>
      <img style="height: 30px" src="/assets/img/white-logo.png" />
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="dashboard-bg">

  <div text-center>
    <ion-grid>
      <ion-row *ngIf="(driver | async)?.status == 'Analyzing'">
        <div class="dashboard-main-container">
          <img class="progress-img" src="/assets/img/1.png" />
          <h3>Campaign Matching</h3>
          <p color="white">Keep Driving! we are analysing your drive pattern to determine which campaigns to assign to
            you.</p>
           
        </div>
      </ion-row>
      <ion-row *ngIf="(driver | async)?.status == 'Reviewing'">
        <div class="dashboard-main-container">
          <img class="progress-img" src="/assets/img/2.png" />
          <h3>Reviewing</h3>
          <p color="white">One of your representatives are reviewing your profile and will activate, your profile soon!
          </p>
        </div>
      </ion-row>
      <ion-row *ngIf="(driver | async)?.status == 'Accepted'">
          <div class="dashboard-main-container">
            <img class="progress-img" src="/assets/img/3.png" />
            <h3>Accepted</h3>
            <p color="white">Your vehicle has been accepted, and we will start assigning campaigns to you soon!
            </p>
          </div>
        </ion-row>
      <ion-row *ngIf="(driver | async)?.status == 'Rejected'">
        <div class="dashboard-main-container">
          <img class="progress-img" src="/assets/img/reject.png" />
          <h3>Rejected</h3>
          <p color="white">Your vehicle has been rejected, please contact support@beonadvertising.com for more info.</p>
        </div>
      </ion-row>

    </ion-grid>

  </div>

  
</ion-content>
<div class="bottom-info-container">
  <ion-row class="status-container">
    {{ (driver | async)?.vehicleInfo?.vehicleModel?.vehicleBrand?.name }} - {{ (driver |
        async)?.vehicleInfo?.vehicleModel?.name }} - ({{ (driver | async)?.vehicleInfo?.registrationNumber }})
  </ion-row>
  <ion-row class="overview-container">
    <ion-col>
      <p>Drive Distance</p>
      <p class="metric-label">
        <strong>{{ (driver | async)?.earnings?.totalDriveDistance/100 }}</strong>
      </p>
      <p>KM</p>
    </ion-col>
    <ion-col>
      <p>Drive Time</p>
      <p class="metric-label">
        <strong>{{ (driver | async)?.earnings?.totalDriveTime }}</strong>
      </p>
      <p>Hours</p>
    </ion-col>
  </ion-row>
</div>