<ion-menu [content]="content">

  <ion-content class="primary-bg menu-left">
    <!-- User profile -->
    <div text-center padding-top padding-bottom >
      <a menuClose>
      </a>
    </div>

    <ion-list >
      <button class="side-menu-item" ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon item-left name="{{ page.icon }}"></ion-icon>
        {{ page.title }}
        <ion-badge danger item-right *ngIf="page.count">{{ page.count }}</ion-badge>
      </button>
      
    </ion-list>
    <ion-list style="position: absolute; bottom: 0; left: 30px;">

        <button class="side-menu-item"  ion-item menuClose (click)="logout()">
            Sign out
          </button>
        </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
