page-job-history,
.job-history {

}
.placement-container{
  width: 100%;
  border-bottom: #00B140 solid 1px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.padding-job {
  padding: 20px 20px;
}
.job-status{
  margin: 15px;
}

.Pending{
  background-color: rgba(255, 238, 0, 0.4);
}

.Accepted{
  background-color: rgba(10, 193, 0, 0.4);
}
.Active{
  background-color: rgba(127, 8, 255, 0.4);
}

.Completed{
  background-color: rgba(13, 255, 0, 0.4);
}

.Expired{
  background-color: rgba(127, 127, 130, 0.4);
}

.Rejected{
  background-color: rgba(237, 0, 6, 0.4);
}
.amount-col{
  text-align: right;
}

.amount-text{
  font-size: 40px;
  line-height: 80px;
}

.job-spec-key{
line-height: 30px;
  font-size: 10px;
}
.job-spec-value{
  font-weight: bold;
  line-height: 15px;
}

.bg-img-job-requests{
  background-image: url('/assets/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}