
.placement-container{
  width: 100%;
  border-bottom: #00B140 solid 1px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.padding-job {
  padding: 0px 20px;
}
.job-status{
  margin: 0px;
  padding: 20px;
  text-transform:uppercase;
  color: white;
}

.Pending{
  background-color: rgba(255, 238, 0,0.8);
}

.Accepted{
  background-color: rgba(10, 193, 0, 0.8);
}
.Active{
  background-color: rgba(127, 8, 255, 0.8);
}

.Completed{
  background-color: rgba(13, 255, 0, 0.8);
}

.Expired{
  background-color: rgba(127, 127, 130, 0.8);
}

.Rejected{
  background-color: rgba(237, 0, 6, 0.8);
}
.amount-col{
  text-align: center;
}

.amount-text{
  font-size: 40px;
  line-height: 80px;
}

.job-spec-key{
line-height: 30px;
  font-size: 10px;
}
.job-spec-value{
  font-weight: bold;
  line-height: 15px;
}

.bg-img-job-requests{
  background-color: #F7F8FD;
}

.slide-content{
  background-color: white;
  height: 70vh;
  width: 90vw;
  box-shadow: 0px 0px 8px 2px #adadad;
  border-radius: 5px; 
}

.job-requests-content{
  padding-top: 60px;
  height: 100%;
}

.job-details{
  width: 100%;
}

.advertiser-heading{
  text-align: center;
  margin: 20px 30px 0px 30px;
  width: 100%;
  text-transform: uppercase;
}
.amount-container{
  text-align: center;
  width: 100%;
}

.top-job-requests{
  background-image: url('/assets/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0% 0% 150% 150%/0% 0% 40% 40%;
  box-shadow: 0px 0px 8px 2px #000000;
  z-index: 99;
}

.top-job-requests:after {
  position:relative;
  width:100%;
  bottom:1px;
  z-index:-1;
  transform:scale(.9);
  box-shadow: 0px 0px 8px 2px #585858;
}