<!--
  Generated template for the JobHistoryPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="loading" *ngIf="loading">
  <img src="/assets/img/loader.svg" class="loading-img" />
  <img class="loading-img-center" src="/assets/img/beon-logo-white.png" />
</div>

<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Job Requests</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-img-job-requests">
  <!-- list of history records -->
  <div padding *ngIf="!(records | async)?.jobOffers.length">
    <h5 ion-text color="light">No job offers yet, we will let you know when we have a job for you!</h5>
  </div>
  <ion-slides pager="true">
    <ion-slide *ngFor="let record of (records | async)?.jobOffers">
      <ion-grid class="slide-content">
        <ion-row class="{{ record.status }} job-status">
          <ion-col text-right>
            <span ion-text>{{ record.status }}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="advertiser-heading">
            <h3 ion-text color="dark">{{ record.advertiser }}</h3>
            <h6>{{record.campaignName}}</h6>
          </div>
          <div class="amount-container">
            <span ion-text color="dark">
              <strong class="amount-text">{{record.totalAmount }}</strong>
              HKD</span>
          </div>
          <div class="light-bg padding-job job-details">
            <ion-row>
              <ion-col text-center>
                <span class="job-spec-key" ion-text color="grey">Campaign Length:</span>
                <br />
                <span class="job-spec-value" ion-text color="dark"><strong>{{ record.campaignLength }}</strong>
                  Months</span>
              </ion-col>
              <ion-col text-center>
                <span class="job-spec-key" ion-text color="grey">Start Date:</span>
                <br />
                <span class="job-spec-value" ion-text
                  color="dark"><strong>{{ record.startDate.toLocaleDateString() }}</strong>
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-row>
          <ion-row padding class="light-bg" *ngIf="record.status == 'Pending'">
            <ion-col text-center>
              <button ion-button block color="danger" (click)="reject(record.id)">Reject</button>
            </ion-col>
            <ion-col text-center>
              <button ion-button block color="secondary" (click)="accept(record.id)">Accept</button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>



</ion-content>