<!--
  Generated template for the JobHistoryPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="loading" *ngIf="loading">
  <img src="/assets/img/loader.svg" class="loading-img"/>
  <img class="loading-img-center" src="/assets/img/beon-logo-white.png" />
</div>

<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Job Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="white-bg">
  <!-- list of history records -->
  <ion-grid class="dark-list list-border">
    <div padding *ngIf="!(records | async)?.jobOffers.length">
      <h5 ion-text color="dark">No job offers yet, we will let you know when we have a job for you!</h5>
    </div>
    <div *ngIf="(records | async)?.jobOffers.length">
    <ion-row class="{{record.status}}" *ngFor="let record of (records | async)?.jobOffers">
      <ion-col>
        <ion-row>
          <ion-col text-center>
            <h1 ion-text color="light">{{ record.advertiser }}</h1>

          </ion-col>
          <ion-col text-right class="job-status">
            <span ion-text color="light">{{ record.status }}</span>
            <div class="uppercase">
              <span ion-text color="light">{{ record.startDate.toLocaleDateString() }}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="light-bg padding-job">
          <ion-col>
            <span class="job-spec-key" ion-text color="grey">Campaign Name:</span>
            <br/>
            <span class="job-spec-value" ion-text color="dark">{{record.campaignName}}</span>
            <br/>
            <span class="job-spec-key" ion-text color="grey">Placement Area:</span>
            <br/>
            <span class="job-spec-value" ion-text color="dark">{{record.placementArea}}</span>
            <br/>
            <span class="job-spec-key" ion-text color="grey">Campaign Length:</span>
            <br/>
            <span class="job-spec-value" ion-text color="dark"><strong>{{ record.campaignLength }}</strong> Months</span>
          </ion-col>
          <ion-col class="amount-col">
            <span ion-text color="gray">TOTAL</span>
            <br/>
            <span ion-text color="dark">
              <strong class="amount-text">{{record.totalAmount }}</strong>
              HKD</span>

          </ion-col>
        </ion-row>
        <ion-row class="light-bg" *ngIf="record.status == 'Pending'">
          <ion-col text-center>
            <button ion-button block color="danger" (click)="reject(record.id)">Reject</button>
          </ion-col>
          <ion-col text-center>
            <button ion-button block color="secondary" (click)="accept(record.id)">Accept</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    </div>
  </ion-grid>

</ion-content>
