.settings-btn{
    color: white;
    background-color: #FF1358;
    border-radius: 500px;
}
.bg-img-settings{
    background-image: url('/assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}