<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="loading" *ngIf="loading">
  <img src="/assets/img/loader.svg" class="loading-img"/>
  <img class="loading-img-center" src="/assets/img/beon-logo-white.png" />
</div>

<ion-header>
    
    <div class="top-balance" padding text-center>
      <div style="text-align: left;margin-bottom: 5px;">
        <span ion-text color="light">Wallet</span>
      </div>
        <span class="balance-label" ion-text color="light">Current balance (HKD)</span>
        <h2 no-margin ion-text class="balance-available" color="light">{{(records | async)?.amountAvailible}}</h2>
        <button class="withdraw-btn" ion-button block color="light" [disabled]="!(records | async)?.canWithdraw" (click)="withDraw()">
          WITHDRAW
        </button>
      </div>
</ion-header>

<ion-content class="bg-img-wallet">
 
  <div padding *ngIf="!(records | async)?.walletEntries.length">
    <h3 ion-text color="dark">No withdrawals yet</h3>
  </div>
  <div *ngIf="(records | async)?.walletEntries.length">
    <!-- list of transaction records -->
    <ion-list class="wallet-list list-full-border">
      <ion-item class="wallet-item" *ngFor="let record of (records | async)?.walletEntries">
        <div class="{{ record.status.toLowerCase() }}">
          <ion-row>
            <ion-col>
              <span ion-text class="create-time">{{ record.createDateTime.toLocaleDateString() }}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span class="status" ion-text>{{ record.status }}</span>
            </ion-col>
            <ion-col class="amount-col">
              <span class="amount" ion-text>{{ record.amount | number:'1.2-2' }}</span>
              <span class="currency" ion-text>{{ record.currency }}</span>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
