page-wallet,
.wallet {

  .top-balance {
    padding: 30px 10px 10px;

    button.button-block {
      margin-top: 30px;
    }
  }
}


.pending{
  padding: 5px;
  background-color: #EFDF00;
}

.paid{
  padding: 5px;
  background-color: #0DFF00;
}

.status{
font-size: 25px;
}
.create-time{
  color:whitesmoke;
}
.amount-col{
  width: 50px;
}

.amount{
  font-size: 25px;
  font-weight: bold;
}
.currency{
  font-size: 10px;
}
